<h1>New Question</h1>
<form>
  <fieldset class="form-group">
    <label for="title">Title</label>
    <input class="form-control" type="text" id="title" name="title" ng-model="question.title">
  </fieldset>

  <fieldset class="form-group">
    <label for="content">Content</label>
    <textarea class="form-control" type="text" id="content" name="content" ng-model="question.content"></textarea>
  </fieldset>

  <fieldset class="form-group">
    <label for="language">Language</label>
    <input class="form-control" type="text" id="content" name="language" ng-model="question.language">
  </fieldset>

  <input type="submit" value="{{isSaving ? 'saving...' : 'Save'}}" class="btn btn-default" ng-click="createQuestion(question)" ng-disabled="isSaving">
</form>